* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  letter-spacing: 2px;
}

/* Top red bar */
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #7a0000;
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 8px 0;
  border-bottom: 2px solid #440000;
  z-index: 10;
}

/* Logo */
.logo {
  width: 300px;
  max-width: 80%;
  margin-top: 100px;
  filter: none;
}

/* Text */
.content h2 {
  margin-top: 30px;
  font-size: 1.6rem;
  letter-spacing: 3px;
  color: #fff;
}

.content p {
  margin-top: 10px;
  color: #ccc;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* Signup form */
.signup-form {
  margin-top: 25px;
}

.signup-form input {
  padding: 10px 15px;
  border: none;
  border-bottom: 2px solid #ff0000;
  background: transparent;
  color: white;
  font-size: 1rem;
  width: 250px;
  text-align: center;
  outline: none;
}

.signup-form button {
  display: block;
  margin: 15px auto 0;
  padding: 10px 20px;
  background-color: #ff0000;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;
}

.signup-form button:hover {
  background-color: #b30000;
}

/* Instagram button */
.insta-btn {
  display: inline-block;
  margin-top: 35px;
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.3s;
}

.insta-btn:hover {
  background-color: #ff0000;
  color: #fff;
  box-shadow: 0 0 20px #ff0000;
}

/* Password Screen */
#password-screen {
  position: fixed;
  inset: 0;
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

#password-screen.hidden {
  display: none;
}

#password-input {
  margin-top: 10px;
  padding: 10px;
  background: transparent;
  border: 2px solid #ff0000;
  color: #fff;
  text-align: center;
  outline: none;
  width: 200px;
}

#enter-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ff0000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
}

#enter-btn:hover {
  background: #b30000;
}

.hint {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #777;
}
